.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #f4f4f4;
    z-index: 10;
    min-width: 1500px;
}
.navbar div{
    flex-shrink: 0;
}
.navbar h3{
    margin: 0px;
    padding: auto;
}
.navbar .left{

    display: flex;
    
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.navbar .right{
    display: flex;
    padding-right: 70px;
    margin-left: 100px;
    width: 250px;
    justify-content: space-between;
    align-items: center;

}

.footers {
display: flex;
padding: 30px 100px;
min-width: 1000px;
background-color: 
#001524;
color: 
#ffffffa8;
font-size: large;
}
.footers h2{
    color: white;
}
.footers>div{
    height: 500px;
}
.footers .left{
    width: 30%;
    /* background-color: red; */
    padding-right: 150px;
}
.footers .middle{
    width:30%;
    /* background-color: blue; */
}
.footers .middle>div{
    margin-bottom: 5px;
}
.footers .right{
    width:30%;
    /* background-color: aqua; */
    padding-right: 100px;
}
.footers .right>div{
    margin-bottom: 5px;
}